body {
  max-width: 560px;
  margin: 0 auto;
  background: #f5f5f5;
  font-family: sans-serif;
}

.score-list {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 30px;
  padding: 0;
}
.score-list li {
  padding: 10px;
  cursor: pointer;
  list-style-position: inside;
}
.score-list .active {
  background: #ccc;
}
.score-list .name {
}
.score-list .score {
  float: right;
}
.score-list .active .increment {
  visibility: visible;
}
.score-list .increment {
  visibility: hidden;
  background: #eee;
  border: 1px solid #bbb;
  float: right;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 4px;
}

.score-list .increment span {
  position: relative;
  display: block;
  top: 17px;
  background: #88b7d5;
  font-size: 0;
  width: 8px;
  height: 8px;
  left: 11px;
  transition: top 0.3s;
}

.score-list .increment:hover {
  background: #f5f5f5;
}
.score-list .increment:hover span {
  top: 14px;
}
.score-list .increment:active {
  background: #fff;
}
.score-list .increment:active span {
  top: 19px;
}


.score-list .increment span:after, .score-list .increment span:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.score-list .increment span:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #88b7d5;
  border-width: 10px;
  margin-left: -10px;
}
